<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div>

        <br>
        <h1>Basic Layout with Bootstrap</h1>
        <br>

<!--        로그인 기능 영역-->
        <div class="row">
            <div class="col-md-6">
                <div th:if="${userName == null}">
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">
                        Google Login
                    </a>
                </div>
                <div th:if="${userName != null}">
                    Logged in as: [[${userName}]]
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
